*{
    margin: 0;
   padding: 0; 
   overflow: hidden;
}

.contenedorvista{
display: flex;
}
.contenedorbody{
    display: flex;
}

.controles{
   /*position: absolute;*/
   top: 70%;
   left: 1.5%;
}

.imgcon{
    width: 100%;
    height: 100%;
}

.contenedorinfo
{
  position: absolute;
  padding: 0;
  min-width: 30%;
  width: 20%;
  height: 100%;
  right: 0%;
  top: auto;
  background-color: #ffffff;    
  overflow: auto;   

}
.header
{
  position: fixed;
  z-index: 3;
  width: 100%;
  display: block;
}
.webgl
{
  z-index: 0;
  width: 100% !important;
  height: 100% !important;
}
@media screen and (max-width: 600px)
{

  .webgl
  {
    transform: none;
    width:600px;
    height:400px;
    transform: none;
    width: auto;
    height: calc(3/4*100vw);
  }  
  .header 
  {    
    right: 20px;        
  }
  .controles
  {
    width: 70px;
    height: auto;
    top: 80%;
   left: 1.5%;

  }
  .contenedorinfo
  {
    top: 100%;
    overflow: none; 
    padding: 0; 
  }
}
@media screen and (max-width: 1050px)
{

}




