* {

  margin: 0px;
  padding: 0px;

}
/*para admin*/
h2
{
	font-family: Lato, sans-serif;	
	font-weight: 600!important;
	
	text-align: center;
}
h5
{
	font-family: Lato, sans-serif;	
	font-weight: 500!important;	
	font-weight: normal;
	
}
.myaccordion .btn
{
	
	
	align-items: center;
	justify-content: center;
}
.myaccordion .fa-stack
{
	font-size: 1rem;
	color: #16191c;
}
.fw-medium
{
	font-family: Lato, sans-serif;	
	font-weight:500! important;
}
.form-label
{
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-weight: bold;
	width: 100%
}
.form-control
{
	background-color: var(--dark-x);
	border:0px;
	min-height: 3.125rem;
	line-height: initial;
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-weight: normal;
	width: 100%

}
.botonsave
{
	color: #ffffff;
	width: auto;
	display: inline-block;
	font-weight: 600;
	background-color: rgb(160,5,5); 
	border-radius: 0.5rem;
	border:1px solid transparent;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.8rem 0.5rem;
}
.botoneditar
{
	color: #ffffff;
	width: auto;
	display: inline-block;
	font-weight: 600;
	background-color: rgb(233, 150, 122); 
	border-radius: 0.5rem;
	border:1px solid transparent;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.8rem 1rem;
}
.mas
{
	color: rgb(178, 34, 34);
}
