* {

  margin: 0px;
  padding: 0px;

}
/*para admin*/
h2, h3
{
	font-family: KoHo, sans-serif;	
	font-weight: 600!important;	
	text-align: center;
}
h5
{
	font-family: Lato, sans-serif;	
	font-weight: 600!important;	
	font-weight: normal;
	
}
.myaccordion .btn
{
	
	align-items: center;
	justify-content: center;
}
.myaccordion .fa-stack
{
	font-size: 1rem;
	color: #16191c;
}
.fw-medium
{
	font-family: Lato, sans-serif;	
	font-weight:500! important;
	font-weight: bold;
}
.form-label
{
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-weight: bold;
	width: 100%
}
.form-control
{
	background-color: var(--dark-x);
	border:0px;
	min-height: 3.125rem;
	line-height: initial;
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-weight: normal;
	width: 100%

}
.proyectos
{
	padding-top: 6rem;
}
.descrip
{
	height: 7rem;

}
.botonsave
{
	color: #ffffff;
	width: auto;
	display: inline-block;
	font-weight: 600;
	background-color: rgb(160,5,5); 
	border-radius: 0.5rem;
	border:1px solid transparent;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.8rem 0.5rem;
}
.botoneditar
{
	color: #ffffff;
	width: auto;
	display: inline-block;
	font-weight: 600;
	background-color: rgb(233, 150, 122); 
	border-radius: 0.5rem;
	border:1px solid transparent;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.8rem 1rem;
}
.mas
{
	color: rgb(178, 34, 34);
}
.parrafo
{
	font-family: Lato, sans-serif;	
	font-weight:500! important;
	font-size: 1.1rem;
}

.semestre
{
	width: 30%!important;
}
.pestaña
{
	font-size: 1.1rem;
	border-radius: 0.5rem;
	border:1px solid transparent;
	background-color: rgb(233, 150, 122)!important; 
}
.active
{
	background-color: rgb(233, 150, 122)!important; 
}
.show
{
	background-color: rgb(255, 255, 255)!important; 
}
.buscar
{
	font-family: Lato, sans-serif;	
	font-weight:500! important;
	border-radius: 0.25rem;
	font-size: 1rem;
	color:#ffffff;
	padding: 0.375rem 0.75rem;
	border:1px solid transparent;
	background-color: #800020!important;
}
select
{
	font-family: Lato, sans-serif;	
	font-weight:500! important;
}



