* {

  margin: 0px;
  padding: 0px;

}
:root
{
	--dark:#09181F;
	--dark-x:#09181F;
	--light:#ffffff;
	--bs-green: #198754;
}
body
{
	color: var(--light);
	
}
.bg-dark
{	
	background-color: var(--dark) !important;	
}
h1
{
	color: var(--light);	
	margin-bottom: 2rem;
	
}
.titulo
{
	font-family: Lato, sans-serif ;
	font-weight: 700 ;
	font-weight:bold;
	margin-bottom: 3rem;
	text-align: center;
}

.contenedor
{	
	margin: 0px auto;	
	
}
.form-label
{
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-weight: bold;	
	
}
.form-control
{
	/*background-color: var(--dark-x);*/	
	min-height: 3.125rem;
	line-height: initial;
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-weight: normal;
	
}
.input-contenedor
{
	color: var(--light);
	margin-bottom: 1.5rem;
	width: 100%;
	
}
textarea
{
	width: 100%;
}
select 
{
    font-family: Lato, sans-serif;
	font-weight: 300;
	border: none;    
	padding: 5px;
	width: 50%;
}
.select-box option
{
	border-style: none;
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-weight:normal;
}
.btn
{
	font-family: Lato,  sans-serif;
	font-weight: 400;
	font-weight: bold;	
	margin-top: 2rem;
	min-height: 3.125rem;
	line-height: initial;
}
.botones
{
	display: inline-block;
}
/*.archivo input[type="file"] 
{
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;            
}*/

.invoiceBox > input {
  display: none;
}
.invoiceBox label {
	display: block;
}
.boxFile 
{
	font-family: Lato,  sans-serif;
	font-weight: 700;
	font-weight: bold;	
	display: inline-block;  	
	background: #fff;
	color: grey;
	padding: 0.8rem;
	text-align: center;	
	font-size: 14px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.boxFile:hover {
	cursor: pointer;
	background: grey;
	color: #fff;
}
.boxFile i {
	display: block;
	font-size: 26px;
	margin-bottom: 5px;
}
.attached,
.attached:hover,
.attached:focus {
	background: green;
  color: #fff;
  border: 1px solid green;
}


/*.custom-archivo {
  background-color: #941B80;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 400px;
}

.custom-archivo .archivo {
 border: 10000px solid transparent;
 cursor: pointer;
 font-size: 10000px;
 margin: 0;
 opacity: 0;
 outline: 0 none;
 padding: 0;
 position: absolute;
 right: -1000px;
 top: -1000px;
}*/
/*.links
{
	font-family: Lato,  sans-serif;
	font-weight: 300;	
	text-decoration: none;	
}
}
.nocuenta
{
	font-family: Lato, sans-serif;
	font-weight: 300;	
	text-align: center;	
}
.regis
{
	font-family: Lato,  sans-serif;
	font-weight: 300;	
	text-decoration: none;	
	font-weight: bold;

}
p
{
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-weight: lighter;
	text-align: center;	
	display: inline-block;
	margin: 0px auto;
}
.back
{
	background-image: url(Assests/fondo1.png);
	background-position: center;
	background-size: cover;
}
.back2
{
	background-image: url(Assests/Fondo2.jpg);
	background-position: center;
	background-size: cover;
}
.error
{
	font-family: Lato,  sans-serif;
	font-weight: 300;	
	text-align: center;
	font-size: 0.9rem;
	font-family: Lato, sans-serif;
	font-weight: normal;
	width: 100%;
}
.correcto
{
	font-family: Lato,  sans-serif;
	font-weight: 300;	
	text-align: center;
	font-size: 0.9rem;
	font-family: Lato, sans-serif;
	font-weight: normal;
	width: 100%;
}
li
{	
	list-style: none;
}*/